/*selector de etiqueta -section -article -nav */
/* header */

/*
header{
  background: pink;
  color: red
}
*/

/* selector descendente */
/* body header div figure nav ol li a */

/* selector de clase */
/* .link */

/* selector de id# */
/* #portafolio */

body{
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'PT Sans Narrow', sans-serif;
}

h1{
  color: #ea9085;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  padding: 50px;
}

h2{
  background-color: #512b58;
  color: white;
  margin-top: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}

h1 strong{
  color: white;
}

figure{
  margin: 0;
  display: flex;
  align-items: center;
}

.hero{
  height: 300px;
  background-color: #512b58;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image{
  object-fit: cover;
}

.portfolio{
  background-color: #512b58;
  padding: 20px;
}

.project{
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 0px;
  background-color: #ffa372;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-course{
  margin: 10px 0;
}

.project-title{
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details{
  width: 500px;
}

.project-imageContainer{
  width: 500px
}

.header{
  background-color: #2c003e;
  color: #ea9085;
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.menu{
  height: inherit;
}

.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

.header a{
  color: #ea9085;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.footer{
  background-color: #2c003e;
  color: #ea9085;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.experience{
  background-color: #512b58;
  padding: 20px
}

.experience-event {
  /*background-color: #512b58;*/
  display: flex;
  flex-wrap: wrap;
}

.event{
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #ea9085;
  overflow: hidden;
}

.event img{
  width: 480px;
  height: 300px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: #ffa372;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-link{
  border: 1px solid #512b58;
  padding: 5px 20px;
  text-decoration: none;
  color: #512b58;
}

.container{
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  width: 1000px;
  margin: 0 auto;
}
